
input,
.btns,
button {
    width: 100%;
    font: inherit;
}

.logo-box {
    width: 21%;
    height: auto;

    .logo {
        width: 100%;
        height: auto;
        margin: 19px auto;
    }
}

